* {
  border-width: 1px;
  border-radius: 5px;
  
}

body {
    background-color: whitesmoke;
    
}

.gridBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto ;

}


.waveDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: 1;
  grid-row: 2;
  background-color: white;
  margin: 5px;
  padding: 10px;
  border-style: solid;
  border-color: rgb(212, 205, 205);
}

.waveDiv label,
select {
  margin: 5px;
}

.buttonDiv {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  background-color: white;
  margin: 5px;
  padding: 10px;
  border-style: solid;
  border-color: rgb(212, 205, 205);
}

.buttonDiv button {
  margin: 5px;
  padding: 4px 8px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid lightgray;
  cursor: pointer;
  background-color: white;
  border-style: solid;
  border-color: rgb(212, 205, 205);
}

#playButton {
  color: black;
  background-color: white;
}

#stopButton {
  background-color: white;
  color: black;
}
.buttonGrow {
  display: inline-block;    
  padding: 10px;
  border: 1px solid #333;
  cursor: pointer;
  transition: transform 0.2s ease;
  transform-origin: center;
  will-change: transform;
}

.buttonGrow:hover {
  transform: scale(1.05);
}

.modulationDiv {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  grid-row: 2;
  background-color: white;
  margin: 5px;
  padding: 10px;
  border-style: solid;
  border-color: rgb(212, 205, 205);
}

.adsrControls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-column: 3;
  grid-row: 2;
  background-color: white;
  margin: 5px;
  padding: 10px;
  border-style: solid;
  border-color: rgb(212, 205, 205);
}
