body {
    background-color: whitesmoke;
}

.gridBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto ;

}

.waveDiv, .modulationDiv, .adsrControls, .buttonDiv, .pianoContainer, .filterDiv {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #e5e8ec;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.waveDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: 1;
  grid-row: 3;
  background-color: white;
  margin: 5px;
  padding: 10px;
}

.waveDiv label,
select {
  margin: 5px;
}

.buttonDiv {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  background-color: white;
  margin: 5px;
  padding: 10px;
}

.buttonDiv button {
  margin: 5px;
  padding: 4px 8px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid lightgray;
  cursor: pointer;
  background-color: white;
}

#playButton {
  color: black;
  background-color: white;
}

#stopButton {
  background-color: white;
  color: black;
}
.buttonGrow {
  display: inline-block;    
  padding: 10px;
  border: 1px solid #333;
  cursor: pointer;
  transition: transform 0.2s ease;
  transform-origin: center;
  will-change: transform;
}

.buttonGrow:hover {
  transform: scale(1.05);
}

.modulationDiv {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  grid-row: 3;
  background-color: white;
  margin: 5px;
  padding: 10px;

}

.adsrControls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-column: 3;
    grid-row: 3;
    background-color: white;
    margin: 5px;
    padding: 10px;
}

label {
  margin-bottom: 10px;
}
select, input {
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2px;
}
.pianoContainer {
    display: flex;
    justify-content: center;
    background-color: white;
    grid-column: 1 / -1;
    grid-row: 2;
    margin: 5px;
    padding: 10px;

}

.pianoKeysList {
    list-style: none;
    display: flex;
    padding: 0;
    
}

.piano-keys {
    width: 3rem;
    height: 15rem;
    position: relative;
    padding: 2px;
    cursor: pointer;

}

.white-key {
    background-color: #f2e3e3;
    margin: 0px 0px 8px 8px;
}

.black-key {
    width: 1.5rem;
    height: 8.5rem;
    border-radius: 5px;
    border: 4px solid white;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #000;
    z-index: 2;
    margin: 0 -20px 0 -20px;
}

.filterDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: 1;
  grid-row: 4;
  background-color: white;
  margin: 5px;
  padding: 10px;
}